<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>HTML5 and CSS3 Fundamentals</title>
</head>

<body>
    <p>
        <ul>
            <li><a asp-controller="Lessons" asp-action="Lesson02">HTML5 and CSS3</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson05">Anchor Tags</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson08">Lists</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson09">Tables</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson10">Creating Forms</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson11">Form Validation etc.</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson12">CSS Selectors</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson13">Font and Text Properties</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson14">Color and Background Properties</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson15">List and Table Properties</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson16">Box Properties</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson17">Font Faces</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson18">Embedding Video in HTML5</a></li>
            <li><a asp-controller="Lessons" asp-action="Lesson19">Working with the HTML5 Canvas</a></li>
        </ul>
    </p>
</body>
</html>